CREATE TABLE users (
    id INT IDENTITY(1,1) PRIMARY KEY,
    username NVARCHAR(50) NOT NULL UNIQUE,
    password_hash NVARCHAR(255) NOT NULL,
    email NVARCHAR(100) UNIQUE,
    role NVARCHAR(20) DEFAULT 'user',
    created_at DATETIME DEFAULT GETDATE(),
    updated_at DATETIME DEFAULT GETDATE()
);

-- Insert default admin user (password: oposa911)
INSERT INTO users (username, password_hash, role)
VALUES ('admin', '$2a$10$U.A0y4l7xN8D919V2cK10u2J7Q8B2nO0sY1L9B2R0zV2kM4yI7', 'admin');
